@import "../scss/var";

.postListItem {
  padding: 0.5em;
  margin: auto;
  margin-top: 1em;
  background-color: $post-background;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  height: 120px;
  align-items: center;

  .votes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .post-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .post-image-container {
    justify-self: end;
    img {
      object-fit: cover;
      width: 120px;
      height: 120px;
      border-radius: $border-radius;
    }
  }
}
