@import "../scss/var";

.PostDetailComponent {
  grid-column: 4 / 10;
  background-color: #fff;
  padding: 1em;
  margin-top: 1em;
  border-radius: $border-radius;

  .PostDetailHeader {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;

    .postTitle {
      font-weight: bold;
      font-size: 1.4em;
      margin-bottom: 0.5em;
    }

    .postSubTitle {
      font-size: 1.1em;
      font-weight: 300;
    }

    .PostDetailTitleContainer {
      margin-left: 2em;
    }
  }

  .postDetailMediaContainer {
    display: flex;
    justify-content: center;

    width: 100%;
    img {
      width: 100%;
      border-radius: $border-radius;
    }
    video {
      border-radius: $border-radius;
    }
  }
}
