@import "../scss/var";

.search {
  position: relative;
  input {
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: $background;
    padding: 0.75em;
    width: 94%;
  }

  .search-icon {
    position: absolute;
    top: 25%;
    left: 5%;
  }
}
